/* Style the tab buttons */
.tablink {
    background: #5A6B75 ;
    opacity: 0.5;
    z-index: -1;
    filter: alpha(opacity=50);
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    Width: 25%;
}

.allLinks{
    width: 100%;
    height: 100px;
}


/* Change background color of buttons on hover */
.tablink:hover {
    background-color: #777;
}

/* Set default styles for tab content */
.tabcontent {
    color: white;
    display: none;
    padding: 50px;
    text-align: center;
}

/*Completed Assignments*/
 #w1, #w2{
     color: lightgreen;
 }

/*Still to complete Assignments*/
 #w3, #w4, #w5, #w6, #w7, #w8, #w9, #w10, #w11, #w12, #w13, #w14{
     color: black;
 } 


/* Style each tab content individually */ 
#week1 {
    opacity: 0.7;
    filter: alpha(opacity=50);
    background-image: url("img/helloworld.jpg");
    border: 1px solid green;
    background-size: cover;
    margin-top: 100px;
    height: 400px;
}

#week2 {
    opacity: 0.7;
    filter: alpha(opacity=50);
    background-image: url("img/homepage.png");
    border: 1px solid green;
    background-size: cover;
    margin-top: 100px;
    height: 400px;
}

#Week3, #Week4, #Week5, #Week6, #Week7, #Week8, #Week9, #Week10, #Week11, #Week12, #Week13, #Week14  {
    opacity: 0.7;
    filter: alpha(opacity=50);
    background-image: url("img/homepage.png");
    border: 1px solid green;
    background-size: cover;
    margin-top: 100px;
    height: 400px;
}

h1{
    color:white;
    font-size: 250%;
    text-align: center;
}

p{
    color:white;
    text-align: center;
}

/* Must give credit where credit is due.  I found this amazing animation on this code pen: https://codepen.io/asfarmed/pen/cfslr?page=1 */

body{
	margin:0;
	padding:0;
	font-family:"arial",heletica,sans-serif;
	font-size:12px;
    background: #5A6B75 url('img/black.png') repeat 0 0;
	-webkit-animation: 10s linear 0s normal none infinite animate;
	-moz-animation: 10s linear 0s normal none infinite animate;
	-ms-animation: 10s linear 0s normal none infinite animate;
	-o-animation: 10s linear 0s normal none infinite animate;
	animation: 10s linear 0s normal none infinite animate;
 
}
 
@-webkit-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-moz-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-ms-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-o-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}